<a href="https://colab.research.google.com/github/tinaj-gupta/Recommender-Cold-Start/blob/master/recommender_demographic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
df1=pd.read_csv('olist_orders_dataset.csv')
df2=pd.read_csv('olist_customers_dataset.csv')
df3=pd.read_csv('olist_order_items_dataset.csv')

In [ ]:
df1.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [ ]:
df2.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [ ]:
df2= df2.merge(df1,on='customer_id')
df2= df2.merge(df3,on='order_id')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 18 columns):
customer_id                      112650 non-null object
customer_unique_id               112650 non-null object
customer_zip_code_prefix         112650 non-null int64
customer_city                    112650 non-null object
customer_state                   112650 non-null object
order_id                         112650 non-null object
order_status                     112650 non-null object
order_purchase_timestamp         112650 non-null object
order_approved_at                112635 non-null object
order_delivered_carrier_date     111456 non-null object
order_delivered_customer_date    110196 non-null object
order_estimated_delivery_date    112650 non-null object
order_item_id                    112650 non-null int64
product_id                       112650 non-null object
seller_id                        112650 non-null object
shipping_limit_date              112650 non-null object
price                            112650 non-null float64
freight_value                    112650 non-null float64
dtypes: float64(2), int64(2), object(14)
memory usage: 16.3+ MB

In [ ]:
df2 = df2.drop(['customer_id', 'customer_unique_id','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date',
         'order_estimated_delivery_date' ,'seller_id','shipping_limit_date','price',
                'freight_value','order_status','order_purchase_timestamp' ], axis = 1)

In [ ]:
c = 1
df2['bought_count'] = c

In [ ]:
df4 = pd.read_csv('olist_products_dataset.csv')
df2= df2.merge(df4,on='product_id').drop(['product_name_lenght','product_description_lenght',
                                          'product_photos_qty','product_weight_g','product_length_cm','product_height_cm',
                                          'product_width_cm'],axis=1)
df2.head()

,customer_zip_code_prefix,customer_city,customer_state,order_id,order_item_id,product_id,bought_count,product_category_name
0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,1,moveis_escritorio
1,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,1,a9516a079e37a9c9c36b9b78b10169e8,1,moveis_escritorio
2,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,2,a9516a079e37a9c9c36b9b78b10169e8,1,moveis_escritorio
3,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,1,a9516a079e37a9c9c36b9b78b10169e8,1,moveis_escritorio
4,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,1,a9516a079e37a9c9c36b9b78b10169e8,1,moveis_escritorio

In [ ]:
song_df_grouped = df2.groupby(['customer_state','product_id']).agg({'bought_count': sum}).reset_index()

In [ ]:
song_df_grouped.head()

  customer_state                        product_id  bought_count
0             AC  02475368dfb38934fe55f574024fe1d7             1
1             AC  0798196b28c04c8e543322896c882902             1
2             AC  09dbbe2c4f26cad4d560aea043f9632c             1
3             AC  0a41699cb57f40c605d3cfdddd61673b             1
4             AC  0a4dea9eaeaaea5b7894a9a4ec6ed660             1

In [ ]:
df4 = song_df_grouped.groupby(["customer_state"]).apply(lambda x: x.sort_values(["bought_count"], ascending = False).head(10))

In [ ]:
df4.to_csv('test', sep='\t')

In [ ]:
df5 = df4.loc[df4['customer_state'] == 'SP']
df5

                     customer_state                        product_id  \
customer_state
SP             54676             SP  aca2eb7d00ea1a7b8ebd4e68314663af
               53300             SP  99a4788cb24856965c36a24e339b6058
               46810             SP  422879e10f46682990de24d770e7f83d
               45907             SP  368c6c730842d78016ad823897a372db
               46079             SP  389d119b48cf3043d311335e499d9c6b
               48145             SP  53759a2ecddad2bb87a079a1f1519f73
               43413             SP  154e7e31ebfa092203795c972e5804a6
               48159             SP  53b36df67ebb7c41585e8d54d6772e08
               58621             SP  e0cf79767c5b016251fe139915c59a26
               46912             SP  437c05a395e9e47f9762e677a7068ce7

                      bought_count
customer_state
SP             54676           265
               53300           231
               46810           181
               45907           135
               46079           133
               48145           121
               43413           117
               48159           111
               58621           104
               46912            99